<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace=" @{/common/index}::head(~{::title}, ~{::link}, ~{::style})">
    <title>首页</title>
</head>
<body>
<div class="layui-main site-inline site-fix">
    <!--    <span id="testView">sss</span>-->
    <!--    <div id="test2"></div>-->

    <div class="layui-tab layui-tab-card">

        <div class="layui-inline"> <!-- 注意：这一层元素并不是必须的 -->
            <input type="text" class="layui-input" id="daily">
        </div>
        <ul class="layui-tab-title">
            <li th:each="item,state:${dailies}" th:class="${state.index==0?'layui-this':''}" th:text="${item.title}"
                class="">标题
            </li>
        </ul>
        <div class="layui-tab-content">
            <div th:each="item,state:${dailies}"
                 th:class="layui-tab-item+${state.index==0?' layui-show':''}">
                <p th:text="${item.title}"></p>
                <!--<iframe th:src="${item.link}" width="100%" height="300px"></iframe>-->
                <table class="layui-table">
                    <tr>
                        <th>区域</th>
                        <th>商品房套数</th>
                        <th>商品房面积</th>
                    </tr>
                    <tr th:each="treat:${item.treats}">
                        <td th:text="${treat.Region}">区域</td>
                        <td th:text="${treat.HouseTotal}">商品房套数</td>
                        <td th:text="${treat.HouseArea}">商品房面积</td>
                    </tr>
                </table>
                </p>
            </div>
        </div>
    </div>
    <div>
        <fieldset>
            通过table的filter来区分tool toolbar
            如下面的 tool(demo-filter)
            tool为tool
            demo-filter为tabl的filter
        </fieldset>
        <a class="layui-btn layui-btn-primary" href="https://www.layui.com/demo/table.html">点击跳转数据表格实例参考</a>
        <button id="reload">重新加载</button>

    </div>
    <div id="demo" lay-filter="demo-filter"></div>


</div>
<script th:replace="/common/index :: script"></script>


<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button id="add" class="layui-btn layui-btn-sm" lay-event="add">添加</button>
        <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
        <button class="layui-btn layui-btn-sm" lay-event="update">编辑</button>
    </div>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>

    layui.use(['table', 'jquery'], function () {

        var table = layui.table;
        var $ = layui.jquery;

        var demoTable = table.render({
            skin: 'line' //行边框风格
            , even: true,//隔行背景
            elem: '#demo'
            , url: '/daily'
            ,toolbar: '#toolbarDemo'
            , where: {}
            , page: true
            , limit: 20
            , request: {
                pageName: 'page' //页码的参数名称，默认：page
                , limitName: 'size' //每页数据量的参数名，默认：limit
            }
            , response: {
                statusName: 'code' //规定数据状态的字段名称，默认：code
                , statusCode: 0 //规定成功的状态码，默认：0
                , msgName: 'msg' //规定状态信息的字段名称，默认：msg
                , countName: 'count' //规定数据总数的字段名称，默认：count
                , dataName: 'data' //规定数据列表的字段名称，默认：data
            }
            // , parseData: function (res) {
            //     return {
            //         'code': res.code,//解析接口状态
            //         "msg": res.msg,//解析提示文本
            //         "count": res.count,//数据总长度
            //         "data": res.data.item //列
            //     };
            // }
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    ,{field: 'id', title: 'id', sort: true, fixed: 'left'}
                    , {field: 'title', title: '标题', sort: true, fixed: 'center'}
                    , {
                    field: 'link', title: '链接', sort: true, fixed: 'left', templet: function (d) {
                        return '<a href=' + d.link + '>链接</a>';
                    }
                }
                    ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}




                ]
            ]
        });
        //监听事件
        table.on('toolbar(demo-filter)', function (obj) {
            console.log(obj);
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'add':
                    layer.msg('添加');
                    break;
                case 'delete':
                    layer.msg('删除');
                    break;
                case 'update':
                    layer.msg('编辑');
                    break;
            }
            ;
        });

        //监听行工具事件
        table.on('tool(demo-filter)', function(obj){

            var data = obj.data;
            console.log(obj)
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.prompt({
                    formType: 2
                    ,value: data.email
                }, function(value, index){
                    obj.update({
                        email: value
                    });
                    layer.close(index);
                });
            }
        });

        $('#add').click(function () {
            // alert("");

        });
        //通过button事件重新加载
        $("#reload").click(function () {
            //这里以搜索为例
            demoTable.reload({
                where: { //设定异步数据接口的额外参数，任意设
                    // page: '1'
                    // ,size: '20'
                    // //…
                }
                , page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        });


    });
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        var $ = layui.jquery;


        //jQuery监听
        $("#daily").blur(function (e) {

            console.log("jquery" + e);
        });


        //lay方式家庭
        lay("#daily").on('blur', function (e) {
            console.log(lay("#daily"));
        });

        //根据事件动态渲染
        lay("#daily").on('focus', function (e) {
            laydate.render({
                elem: '#daily'
                , show: true
                , trigger: 'click'
                , change: function (value, date) { //监听日期被切换
                    console.log(date);
                    console.log(value);
                    lay("#daily")[0].value = value;
                    console.log(lay("#daily")[0]);
                }

            });
        });
    });
</script>
</body>
</html>